strict-ssl=false

registry=http://10.251.55.7:2081/repository/npm-all/
https-proxy=http://proxy.ggm.bim:8080
# http-proxy=http://proxy.ggm.bim:8080
proxy=http://proxy.ggm.bim:8080
# no-proxy=10.251.55.7, nexus-host, 172.28.* no_proxy=10.251.55.7, nexus-host, 172.28.* 
noproxy=10.251.55.7, nexus-host, 172.28.*
